@import "../../scss/layout";

// -----------------GLOBAL---------------------------
.desktopHeader {
    top: 0;
    z-index: 1;
    padding-top: 5px;
    position: sticky;
}
.headerItems {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    @include responsiveContainer();

    li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    li:nth-child(4) {
        a {
            font-size: clamp(2rem, 2vw, 3rem);
        }
    }
}
