@import "./variables";

@mixin section-spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin container-responsive {
  @media screen and (min-width: $smallMobile) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (min-width: $largeMobile) {
    margin-left: 25px;
    margin-right: 25px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 60px;
    margin-right: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 90px;
    margin-right: 90px;
  }
  @media screen and (min-width: $hdDesktop) {
    margin-left: 115px;
    margin-right: 115px;
    // max-width: 1400px;
  }
}

@mixin grid($columns, $rowGap, $columnGap) {
  display: grid;
  row-gap: $rowGap;
  column-gap: $columnGap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin grid-responsive {
  @media screen and (min-width: $smallMobile) {
    @include grid(12, $rowSmall, $colSmall);
  }
  @media screen and (min-width: $largeMobile) {
    @include grid(12, $rowLarge, $colLarge);
  }
  @media screen and (min-width: $tablet) {
    @include grid(12, $rowTablet, $colTablet);
  }
  @media screen and (min-width: $desktop) {
    @include grid(12, $rowDesktop, $colDesktop);
  }
  @media screen and (min-width: $hdDesktop) {
    @include grid(12, $rowHD, $colHD);
  }
}

@mixin three-column-feed-lookbook($items) {
  @for $i from 1 through $items {
    @if $i % 2 == 1 {
      .lookBookItem-#{$i} {
        grid-column: 1;
        grid-row: $i;
      }
    } @else {
      .lookBookItem-#{$i} {
        grid-column: 3;
        grid-row: $i;
      }
    }
  }
}

@mixin three-column-feed-products($items) {
  @for $i from 1 through $items {
    @if $i % 2 == 1 {
      .products-#{$i} {
        grid-column: 1;
        grid-row: $i;
      }
    } @else {
      .products-#{$i} {
        grid-column: 3;
        grid-row: $i;
      }
    }
  }
}
