@import "../../scss/variables";
@import "../../scss/layout";
.collectionSection {
  @include section-spacing();
}
.container {
  @include responsive-container();
  margin-right: 0 !important;
}
.collectionList {
  list-style: none;
}
.collectionItems {
  .imgWrapper {
    position: absolute;
    position: fixed;
    top: 0;
    left: 53.5%;
    right: 0;
    bottom: 0;
    width: 50vh;
    height: 100vh;
    pointer-events: none;
  }
  .img {
    height: 100%;
    object-fit: cover;
  }
  .imgHide {
    display: none;
  }
}
.title {
  margin: 0;
  padding: 70px 0;
  font-size: 6.5vw;
}
// -----------------MOBILE---------------------------
@media screen and (min-width: $smallMobile) {
}
// -----------------LARGE MOBILE---------------------------
@media screen and (min-width: $largeMobile) {
}
// -----------------TABLET---------------------------
@media screen and (min-width: $tablet) {
}
// -----------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
}
// -----------------HD DESKTOP---------------------------
@media screen and (min-width: $hdDesktop) {
}
