@import "../../../scss/layout";

.arrivalsSection {
  @include section-spacing();
}
.container {
  display: flex;
  @include responsiveContainer();
}
.content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  background-color: aqua;
}
.header {
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}
.productsList {
  margin: 0 auto;
  height: auto;
  width: 60vw;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.productItem {
  scroll-snap-align: start;
  width: 280px;
  max-width: none;
  object-fit: contain;
}
