@import "../../../scss/variables";
@import "../../../scss/layout";

.aboutSection {
  @include section-spacing();
}
.container {
  @include container-responsive();
}
.title {
  font-size: clamp(2rem, 4vw, 4rem);
}
.stats {
  display: flex;
  justify-content: space-between;
}
// -----------------MOBILE---------------------------
@media screen and (min-width: $smallMobile) {
  .container {
    @include grid(1, $rowSmall, $colSmall);
  }
  .title {
    padding-top: 20px;
  }
  .featuredImage {
    padding: 20px;
    padding-left: 0;
  }
  .stats {
    padding-top: 20px;
  }
}
// -----------------LARGE MOBILE---------------------------
@media screen and (min-width: $largeMobile) {
  .featuredImage {
    padding: 40px;
    padding-left: 0;
  }
}
// -----------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .container {
    @include grid(12, $rowTablet, $colTablet);
  }
  .featuredImage {
    max-width: 600px;
    grid-column: 1 / 6;
    grid-row: 1;
  }
  .aboutContent {
    grid-column: 7 / -1;
  }
  .title {
    padding-top: 0;
  }
  .stats {
    justify-content: flex-start;
    gap: 40px;
  }
}
// -----------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
  .copy {
    display: flex;
    gap: 30px;
  }
  .stats {
    padding-top: 40px;
    gap: 60px;
  }
}
// -----------------HD DESKTOP---------------------------
@media screen and (min-width: $hdDesktop) {
  .aboutContent {
    align-self: center;
  }
  .copy {
    gap: 60px;
  }
  .stats {
    padding-top: 50px;
    gap: 80px;
  }
}
