@import "../scss/layout";
@import "../scss/variables";

// -----------------GLOBAL---------------------------
.landingSection {
  @include section-spacing();
}
.container {
  @include responsiveContainer();
}
.description {
  width: 80%;
}
.shopNow {
  .circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid black;
  }
  p {
    position: relative;
    top: 25%;
    right: 50%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transform: rotate(-10deg);
    background-color: white;
  }
}
.featuredImg {
  position: relative;
  .checkOut {
    position: absolute;
    top: 0;
    right: -50px;
  }
}
.socialLinks {
  list-style: none;
  display: flex;
  li a {
    margin-right: 30px;

    color: black;
    text-decoration: none;
  }
}
// -----------------MOBILE---------------------------
@media screen and (min-width: $smallMobile) {
  .featuredImg {
    height: 330px;
    max-width: 230px;
    width: 100%;
    margin: 50px 20px;
  }
  .shopNow {
    margin-left: 100px;
  }
}
// -----------------LARGE MOBILE---------------------------
@media screen and (min-width: $largeMobile) {
  .featuredImg {
    height: 500px;
    max-width: 400px;
    width: 100%;
    margin: 50px 20px;
  }
  .shopNow {
    margin-left: 200px;
  }
}
// -----------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .description {
    width: 320px;
  }
}
// -----------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
}
// -----------------HD DESKTOP---------------------------
@media screen and (min-width: $hdDesktop) {
}
