@import "../scss/layout";
@import "../scss/variables";

// -----------------GLOBAL---------------------------
.landingSection,
.heroSection {
  @include section-spacing();
}
.container {
  @include responsiveContainer();
}
.title {
  font-size: clamp(2rem, 4.8vw, 6rem);
}
.shopNow {
  display: flex;
  .circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid black;
  }
  p {
    position: relative;
    top: 25%;
    right: 50%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transform: rotate(-10deg);
    background-color: white;
  }
}
.featuredImg {
  position: relative;
  .checkOut {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
  }
}
.socialLinks {
  list-style: none;
  display: flex;
  li a {
    margin-right: 30px;
    color: black;
    text-decoration: none;
  }
}

// -----------------MOBILE---------------------------
@media screen and (min-width: $smallMobile) {
  .container {
    @include grid(1, $rowSmall, $colSmall);
  }
  .featuredImg {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }
  .explore,
  .socialLinks {
    padding-left: 20px;
  }
  .shopNow {
    padding: 30px 0;
    justify-content: center;
  }
  .explore {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
      height: 20px;
      width: 20px;
    }
  }
}
// -----------------LARGE MOBILE---------------------------
@media screen and (min-width: $largeMobile) {
  .container {
    @include grid(1, $rowLarge, $colLarge);
  }
  .featuredImg {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }
  .explore,
  .socialLinks {
    padding-left: 40px;
  }
  .checkOut {
    display: block;
  }
}
// -----------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .container {
    @include grid(12, $rowTablet, $colTablet);
  }
  .leftHero {
    grid-column: 1 / span 5;
    align-self: center;
  }
  .description {
    padding-left: 50px;
  }
  .rightHero {
    grid-column: 6 / -2;
    .featuredImg {
      max-width: 600px;
      .checkOut {
        top: 80%;
      }
    }
  }
  .socialLinks {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    li {
      margin-top: 50px;
      margin-bottom: 50px;
      transform: rotate(-90deg);
      transform-origin: top;
    }
  }
  .explore {
    padding-left: 40px;
    grid-column: 6 / span 1;
  }
}
// -----------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
  .container {
    @include grid(12, $rowDesktop, $colDesktop);
  }
}
// -----------------HD DESKTOP---------------------------
@media screen and (min-width: $hdDesktop) {
  .container {
    @include grid(12, $rowHD, $rowHD);
  }
  .shopNow {
    display: block;
    padding: 50px 150px;
  }
  .rightHero {
    grid-column: 6 / -2;
  }
}
