// components
@import "../../../scss/variables";
@import "../../../scss/layout";

.followUsSection {
  @include section-spacing();
}
.container {
  @include container-responsive();
}

// -----------------MOBILE---------------------------
@media screen and (min-width: $smallMobile) {
  .followImages {
    @include grid(4, $rowSmall, $colSmall);
    .imgOne {
      grid-column: 1/ -1;
    }
    .flexImages {
      grid-column: 1 / -1;
      @include grid(4, $rowSmall, $colSmall);
      .imgTwo {
        grid-column: 1 / span 2;
      }
      .imgThree {
        grid-column: 3/ -1;
      }
    }
  }
}
// -----------------LARGE MOBILE---------------------------
@media screen and (min-width: $largeMobile) {
  .followImages {
    @include grid(4, $rowLarge, $colLarge);
  }
}
// -----------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .followImages {
    @include grid(4, $rowTablet, $colTablet);
    .imgOne {
      max-width: 600px;
      grid-column: 1 / span 2;
    }
    .flexImages {
      max-width: 500px;
      grid-column: 3 / -1;
      .imgTwo {
        grid-column: 1 / 3;
      }
      .imgThree {
        grid-column: 3/-1;
        grid-row: 2;
      }
    }
  }
}
// -----------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
  .followImages {
    @include grid(4, $rowDesktop, $colDesktop);
  }
}
// -----------------HD DESKTOP---------------------------
@media screen and (min-width: $hdDesktop) {
  .followImages {
    @include grid(4, $rowHD, $colHD);
  }
}
